<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小故事铺是一个专注于原创短篇故事的平台，涵盖睡前、恐怖、亲情、儿童等多个类型。每天更新精彩故事，陪你度过温暖或惊悚的时刻 - 小故事</title>
    <link rel="icon" type="image/png" href="/images/story.png">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/all.min.css">
    <link rel="stylesheet" href="/live2d/css/live2d.css"/>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
</head>
    <body>
        <main class="main-container" id="mainContainer">
            <div class="floating-search" id="floatingSearch">
                <button class="search-close" id="searchClose">
                    <i class="fas fa-times"></i>
                </button>
                <div class="floating-search-container">
                    <div class="search-bar">
                        <i class="fas fa-search search-icon"></i>
                        <input type="text" id="searchInput" placeholder="支持搜索当前分类下的所有故事，按回车键搜索...">
                    </div>
                </div>

                <div id="landlord">
                    <div class="message" style="opacity:0"></div>
                    <canvas id="live2d" width="560" height="500" class="live2d"></canvas>
                    <div class="hide-button">隐藏</div>
                </div>
            </div>
        </main>
        <script type="text/javascript" src="/live2d/js/live2d.js"></script>
        <script type="text/javascript" src="/live2d/js/message.js"></script>
        <script type="text/javascript">
            loadlive2d("live2d", "/live2d/model/xiaoban/model.json");
        </script>
    </body>
 </html>